@inherits IgnisAsyncComponentBase

<p>
    @_echo
</p>

@code
{
    private string? _echo;

    [Parameter]
    public string? Echo { get; set; }

    public new CancellationToken CancellationToken => base.CancellationToken;
    
    protected override Task OnUpdateAsync(CancellationToken cancellationToken)
    {
        _echo = Echo;        

        return Task.CompletedTask;
    }
}