@import "./prism-one-dark.css";
@import "tailwindcss/base";
@import "./fonts.css";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  [inert] ::-webkit-scrollbar {
    display: none;
  }
}

.prose :where(kbd):not(:where([class~="not-prose"] *)) {
  display: inline-flex;
  border-radius: 0.375rem;
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  padding: 0.125rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  vertical-align: middle;
}
