@inherits IgnisComponentBase
@inject IStringLocalizer<CommonResources> CommonResources

<ScrollDetector OnScroll="OnScroll"/>
<header class="@Css.Class("sticky top-0 z-50 flex flex-wrap items-center justify-between bg-white px-4 py-5 shadow-md shadow-slate-900/5 transition duration-500 dark:shadow-none sm:px-6 lg:px-8", _isScrolled ? "dark:bg-slate-900/95 dark:backdrop-blur dark:[@supports(backdrop-filter:blur(0))]:bg-slate-900/75" : "dark:bg-transparent")">
    <div class="mr-6 flex lg:hidden">
        <MobileNavigation/>
    </div>
    <div class="relative flex flex-grow basis-0 items-center">
        <a href="/" aria-label="@CommonResources["HomePageTitle"]" class="flex">
            <Logo class="h-9 w-9 fill-ignis-500"/>
            <LogoText class="hidden h-9 w-auto fill-ignis-500 lg:block"/>
        </a>
    </div>
    <div class="-my-5 mr-6 sm:mr-8 md:mr-0">
        <Search/>
    </div>
    <div class="relative flex basis-0 justify-end gap-6 sm:gap-8 md:flex-grow">
        <ThemeSelector class="relative z-10"/>
        <a href="https://github.com/DavidVollmers/Ignis" class="group" aria-label="GitHub">
            <GitHubIcon class="h-6 w-6 fill-slate-400 group-hover:fill-slate-500 dark:group-hover:fill-slate-300"/>
        </a>
    </div>
</header>

@code
{
    private bool _isScrolled;

    private void OnScroll(ScrollEventArgs args)
    {
        var oldValue = _isScrolled;

        _isScrolled = args.ScrollY > 0;

        if (oldValue != _isScrolled)
        {
            Update();
        }
    }
}