@using Ignis.Components.HeroIcons.Outline
@inherits IgnisComponentBase
@inject IStringLocalizer<Search> Resources

<button type="button"
        @onclick="@(() => _isOpen.Value = true)"
        class="group flex h-6 w-6 items-center justify-center sm:justify-start md:h-auto md:w-80 md:flex-none md:rounded-lg md:py-2.5 md:pl-4 md:pr-3.5 md:text-sm md:ring-1 md:ring-slate-200 md:hover:ring-slate-300 lg:w-96 dark:md:bg-slate-800/75 dark:md:ring-inset dark:md:ring-white/5 dark:md:hover:bg-slate-700/40 dark:md:hover:ring-slate-500">
    <MagnifyingGlassIcon class="h-5 w-5 flex-none stroke-slate-400 group-hover:stroke-slate-500 md:group-hover:stroke-slate-400 dark:stroke-slate-500"/>
    <span class="sr-only md:not-sr-only md:ml-2 md:text-slate-500 md:dark:text-slate-400">
        @Resources["Placeholder"]
    </span>
    <ReactiveSection For="_isOpen">
        <SearchDialog @bind-IsOpen="_isOpen.Value"></SearchDialog>
    </ReactiveSection>
</button>

@code
{
    private readonly ReactiveValue<bool> _isOpen;

    public Search()
    {
        _isOpen = new ReactiveValue<bool>(this, false);
    }
}