@inherits IgnisComponentBase
@inject IStringLocalizer<MobileNavigation> Resources

<button type="button" @onclick="OpenNavigation"
        class="relative" aria-label="@Resources["OpenNavigationButton"]">
    <Bars3Icon className="h-6 w-6 stroke-slate-500" aria-hidden="true"/>
</button>

@code
{
    private bool _isOpen;

    private void OpenNavigation()
    {
        _isOpen = true;

        ForceUpdate();
    }
}