@inherits IgnisRigidComponentBase

<div class="w-full max-w-md px-2 py-16 sm:px-0">
    <TabGroup>
        <TabList class="flex space-x-1 rounded-xl bg-blue-900/20 p-1">

        </TabList>
    </TabGroup>
</div>