@page "/tests/dialog/custom"
@inherits IgnisComponentBase

<PageTitle>Test: Custom Dialog</PageTitle>

<WrappedCustomDialogWithForm data-testid="dialog" @bind-Open="_isDialogOpen" OnSubmit="OnSubmit"/>

<button data-testid="open-button" @onclick="OpenDialog"
        class="inline-flex w-full justify-center rounded-md bg-stone-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-stone-500 sm:ml-3 sm:w-auto focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-stone-600">
    Open Dialog
</button>

<DialogOutlet/>

@code
{
    private bool _isDialogOpen;

    private void OpenDialog()
    {
        _isDialogOpen = true;

        Update();
    }

    private void OnSubmit(WrappedCustomDialogWithFormModel model)
    {
        _isDialogOpen = false;

        Update();
    }
}