@using Ignis.Components
@using Ignis.Components.HeadlessUI
@using Ignis.Components.HeroIcons.Solid

@inherits IgnisComponentBase

<div class="fixed top-16 w-72">
    <Combobox @bind-Value="_selectedPerson">
        <div class="relative mt-1">
            <div class="relative w-full cursor-default overflow-hidden rounded-lg bg-white text-left shadow-md focus:outline-none focus-visible:ring-2 focus-visible:ring-white/75 focus-visible:ring-offset-2 focus-visible:ring-offset-teal-300 sm:text-sm">
                <ComboboxInput class="w-full border-none py-2 pl-3 pr-10 text-sm leading-5 text-gray-900 focus:ring-0"
                               ValueChanged="v => SetQuery(v)"
                               DisplayValue="p => p.Name"/>
                <ComboboxButton class="absolute inset-y-0 right-0 flex items-center pr-2">
                    <ChevronUpDownIcon class="h-5 w-5 text-gray-400"/>
                </ComboboxButton>
            </div>
            <Transition AsComponent="typeof(Fragment)"
                        Leave="transition ease-in duration-100"
                        LeaveFrom="opacity-100"
                        LeaveTo="opacity-0"
                        AfterLeave="() => SetQuery(string.Empty)">
                
            </Transition>
        </div>
    </Combobox>
</div>