@using Ignis.Components.HeadlessUI
@using Ignis.Components.HeroIcons.Mini
@using Ignis.Utils

<div class="w-full px-4 pt-16">
    <div class="mx-auto w-full max-w-md rounded-2xl bg-white p-2">
        <Disclosure Context="disclosure">
            <DisclosureButton class="flex w-full justify-between rounded-lg bg-purple-100 px-4 py-2 text-left text-sm font-medium text-purple-900 hover:bg-purple-200 focus:outline-none focus-visible:ring focus-visible:ring-purple-500 focus-visible:ring-opacity-75">
                <span>What is your refund policy?</span>
                <ChevronUpIcon class="@Css.Class("h-5 w-5 text-purple-500", ("rotate-180 transform", disclosure.IsOpen))"/>
            </DisclosureButton>
            <DisclosurePanel class="px-4 pt-4 pb-2 text-sm text-gray-500">
                If you're unhappy with your purchase for any reason, email us
                within 90 days and we'll refund you in full, no questions asked.
            </DisclosurePanel>
        </Disclosure>
        <Disclosure AsElement="div" class="mt-2" Context="disclosure">
            <DisclosureButton class="flex w-full justify-between rounded-lg bg-purple-100 px-4 py-2 text-left text-sm font-medium text-purple-900 hover:bg-purple-200 focus:outline-none focus-visible:ring focus-visible:ring-purple-500 focus-visible:ring-opacity-75">
                <span>Do you offer technical support?</span>
                <ChevronUpIcon class="@Css.Class("h-5 w-5 text-purple-500", ("rotate-180 transform", disclosure.IsOpen))"/>
            </DisclosureButton>
            <DisclosurePanel class="px-4 pt-4 pb-2 text-sm text-gray-500">
                No.
            </DisclosurePanel>
        </Disclosure>
    </div>
</div>