<DialogOutlet AsElement="div" id="dialog-outlet"/>

<WrappedCustomDialog @bind-Open="OpenBinding"/>
<button id="open-button" @onclick="@(() => _isOpen = true)"></button>

@code
{
    bool _isOpen;

    bool OpenBinding
    {
        get => _isOpen;
        set => _isOpen = value;
    }
}