@inherits IgnisComponentBase

<CustomDialog Open="Open" OpenChanged="OpenChanged">
    <button id="close-button" @onclick="@OnCloseAsync"></button>
</CustomDialog>

@code
{
    [Parameter]
    public bool Open { get; set; }

    [Parameter]
    public EventCallback<bool> OpenChanged { get; set; }

    private async Task OnCloseAsync()
    {
        await OpenChanged.InvokeAsync(false);
    }
}