@page "/"
@using System.Globalization
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Mvc.TagHelpers
@namespace Ignis.Website.Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.TwoLetterISOLanguageName"
      class="antialiased [font-feature-settings:'ss01']">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="~/_content/Ignis.Website/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/_content/Ignis.Website/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/_content/Ignis.Website/favicon-16x16.png">
    <link rel="manifest" href="~/_content/Ignis.Website/site.webmanifest">
    <link rel="mask-icon" href="~/_content/Ignis.Website/safari-pinned-tab.svg" color="#ef454c">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <base href="~/">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/mermaid@10.2.4/dist/mermaid.min.js"></script>
    <script defer type="text/javascript" src="~/_content/Ignis.Components.Web/min.js"></script>
    <script defer type="text/javascript" src="~/_content/Ignis.Website/js/website.min.js"></script>
    <link href="~/_content/Ignis.Website/css/blazor.css" rel="stylesheet">
    <link href="~/_content/Ignis.Website/css/tailwind.min.css" rel="stylesheet">
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
</head>
<body class="bg-white dark:bg-slate-900">
<component type="typeof(App)" render-mode="ServerPrerendered"/>

<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<script src="_framework/blazor.server.js"></script>
</body>
</html>