@inherits IgnisComponentBase
@inject NavigationManager Router

<CommonLayout>
    <Body>
    @if (_link == "/")
    {
        <Hero/>
    }

    <div class="relative mx-auto flex max-w-8xl justify-center sm:px-2 lg:px-8 xl:px-12">
        <div class="hidden lg:relative lg:block lg:flex-none">
            <div class="absolute inset-y-0 right-0 w-[50vw] bg-slate-50 dark:hidden"></div>
            <div class="absolute bottom-0 right-0 top-16 hidden h-12 w-px bg-gradient-to-t from-slate-800 dark:block"></div>
            <div class="absolute bottom-0 right-0 top-28 hidden w-px bg-slate-800 dark:block"></div>
            <div class="sticky top-[4.5rem] -ml-0.5 h-[calc(100vh-4.5rem)] w-64 overflow-y-auto overflow-x-hidden py-16 pl-0.5 pr-8 xl:w-72 xl:pr-16">
                <Navigation/>
            </div>
        </div>
        <div class="min-w-0 max-w-2xl flex-auto px-4 py-16 lg:max-w-none lg:pl-8 lg:pr-0 xl:px-16">
            <article>
                @Body
            </article>
        </div>
    </div>
    </Body>
</CommonLayout>

@code
{
    private string _link = null!;

    [Parameter]
    public RenderFragment? Body { get; set; }
    
    protected override void OnUpdate()
    {
        ParseLink();
    }

    private void ParseLink()
    {
        _link = ('/' + Router.ToBaseRelativePath(Router.Uri)).Split('#')[0];
    }
}