@using BlazorServer.Data

<form @onsubmit="@(() => Context.OnSubmitAsync(Context.Model))">
    @foreach (var property in Context.GetProperties())
    {
        <div class="form-group">
            @Label(property)
            @Input(Context.Model, property)
        </div>
        <br/>
    }
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

@code
{
    [CascadingParameter]
    public FormFragmentContext<ExampleForm> Context { get; set; } = null!;
}